<form method="post">
    <input type="email" name="email" placeholder="Enter Email"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <button type="submit">Submit</button>
</form>